.projects {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;

    .projects__plan {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 50%;
      padding: 5px;
      height: 50px;
      background-color: #1c1c1c;
      border-radius: 30px;

      .btn-plan {
        font-family: 'Poppins', sans-serif;
        color: #fff;
        background: none;
        border: none;
        cursor: pointer;
        padding: 12px;
        border-radius: 20px;
        &:hover {
          color: rgba(255, 255, 255, 0.6);
          transition: 0.3s color ease-in-out;
        }

        &.active {
          background-color: #404040;
          min-width: 44px;
        }
      }
    }
  }

  .containers {
    min-height: 600px;
    padding: 2rem 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    align-items: center;
    column-gap: 2rem;

    .project__card {
      position: relative;
      border-radius: 10px;
      overflow: hidden;

      .project__tag {
        position: absolute;
        display: inline-block;
        border-radius: 0 18px 18px 0;
        background-color: #404040;
        padding: 4px 8px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
        z-index: 9;
        left: 0;

        span {
          font-size: 0.7rem;
          font-weight: 300;
        }
      }

      &:hover {
        cursor: pointer;
        transition: 0.3s all ease-in-out;
      }

      &:hover .img-wrapper::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: linear-gradient(to top, rgb(0, 0, 0), transparent);

        transition: 0.3s all ease-in-out;
      }

      &:hover .project__meta-wrapper {
        margin-bottom: 40px;
        transition: 0.3s all ease-in-out;
      }

      .img-wrapper:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: linear-gradient(to top, rgb(0, 0, 0), transparent);
      }

      .img-cover {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }

      .project__meta-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;

        h5 {
          text-transform: uppercase;
          font-size: 1rem;
          font-weight: 500;
          text-align: center;
        }
      }
    }
  }

  .empty {
    padding: 2rem 5rem;
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 468px) {
  .projects {
    .container {
      .projects__plan {
        width: 100%;
        overflow-x: scroll;

        .btn-plan {
          font-size: 0.5rem;
        }
      }
    }

    .containers {
      flex-direction: column;
      padding: 1rem 0;
      grid-template-columns: repeat(1, 1fr);

      .project__card {
        margin: 1rem 0;

        .project__tag span {
          font-size: 0.6rem;
        }

        .project__meta-wrapper h5 {
          font-size: 0.8rem;
        }
      }
    }
  }
}
