.contact__form {
  background-image: url('/assets/images/background/background-contact.svg');
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  }

  svg {
    position: absolute;
    top: 0;
  }

  .contact__container {
    position: relative;
    padding: 5rem 9rem 5rem 9rem;
    display: flex;
    justify-content: space-between;

    .contact__left {
      justify-content: space-between;
      display: flex;
      flex-direction: column;
    }

    h1 {
      font-size: 4.5rem;
      line-height: 4.5rem;
    }

    .contact-card {
      width: 100%;
      min-width: 44px;
      min-height: 44px;
      background-color: rgba(#303030, 0.7);
      padding: 10px 1.25rem;
      border-radius: 10px;
      margin-bottom: 1rem;

      .contact-card__header {
        font-size: 1.25rem;
        font-weight: 600;
        margin-bottom: 0.75rem;
      }

      .contact-card__body {
        ul.social-media {
          list-style-type: none;
          display: flex;
          margin-top: 1rem;

          li a {
            font-size: 1.5rem;
            margin: 1rem 0;
            margin-right: 1rem;
          }
        }
        h6 {
          display: inline;
          font-size: 1rem;
          font-weight: 300;
          margin-right: 1rem;

          @media (max-width: 468px) {
            display: inline-block;
          }
        }

        .form-input {
          & > * {
            display: block;
            margin-bottom: 8px;
          }

          label {
            font-weight: 300;
            font-size: 0.925rem;
          }

          .input {
            width: 100%;
            min-height: 28px;
            background-color: rgba(#141414, 0.7);
            color: #fff;
            border: none;
            border-radius: 4px;
          }

          textarea.input {
            height: 5rem;
            resize: none;
            width: 100%;
          }
        }

        .btn-sendMessage {
          cursor: pointer;
          color: #fff;
          width: 100%;
          background-color: #ffb800;
          min-height: 33px;
          border-radius: 10px;
          text-transform: uppercase;
          font-weight: 600;
          font-size: 0.9rem;
          letter-spacing: 3px;
        }
      }

      i {
        margin-right: 10px;
      }
    }
  }
}

@media (max-width: 468px) {
  .contact__form {
    .contact__container {
      padding: 3rem 1rem;
      flex-direction: column;

      h1 {
        text-align: center;
        font-size: 2rem;
      }
    }
  }
}
