nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 3rem;
  z-index: 30;

  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), transparent);

  .nav-items {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    padding: 1rem 5rem;
    justify-content: space-between;
    align-items: center;
    z-index: 30;

    &.stickyNavbar {
      background-color: rgba(0, 0, 0, 0.5);
    }

    & a:hover {
      opacity: 0.6;
      transition: 0.3s opacity ease-in-out;
    }

    .img-logo {
      width: 25px;
    }

    .hamburger-menu {
      cursor: pointer;
      width: 1.55rem;
      height: 1.5rem;
      min-height: 44px;
      min-width: 44px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      background-color: transparent;
      border-radius: 50%;

      &:hover > .bar,
      &:hover > .bar:before,
      &:hover > .bar:after {
        background-color: rgba(255, 255, 255, 0.5);
        transition: 0.5s all ease-in-out;
      }

      .bar {
        position: relative;
        width: 1.2rem;
        height: 3px;
        background-color: #fff;
        border-radius: 2px;

        &:before,
        &:after {
          content: '';
          position: absolute;
          right: 0;
          width: 1.55rem;
          height: 3px;
          background-color: #fff;
          border-radius: 2px;
        }

        &:before {
          transform: translateY(-8px);
        }

        &:after {
          transform: translateY(8px);
        }
      }
    }
  }

  .nav-links {
    position: fixed;
    background-image: url('/assets/images/background/nav-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    z-index: 29;
    clip-path: circle(100px at 90% -20%);
    -webkit-clip-path: circle(100px at 90% -20%);
    transition: 1s all ease-in-out;

    &.open {
      clip-path: circle(1000px at 90% -15%);
      -webkit-clip-path: circle(1500px at 80% -15%);
    }

    li a {
      font-size: 1.5rem;
      font-weight: 500;
      color: rgba(255, 255, 255, 0.7);

      &:hover {
        color: #fff;
        transition: 0.3s color ease-in-out;
      }
    }
  }

  @media (max-width: 468px) {
    .nav-items {
      padding: 1rem 3rem;
    }
    .nav-links {
      flex-direction: column;
      justify-content: center;
    }

    .nav-links li {
      margin-bottom: 2rem;
    }

    .nav-links li a {
      font-size: 1.2rem;
    }
    .nav-items {
      padding: 1rem 2rem;
    }
    nav .social-media {
      display: none;
    }
  }
}
