footer {
  margin-top: 100px;
  min-height: 200px;

  .container {
    max-width: 70rem;
    padding: 0 2rem;
    margin: 0 auto;
  }

  .footer__part,
  .footer__under,
  .social-media {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .footer__part ul {
    list-style-type: none;

    li,
    li a {
      margin-bottom: 7px;
      color: #fff;
      font-weight: 300;

      &:hover {
        color: rgba(255, 255, 255, 0.6);
        transition: 0.4s color ease-in-out;
      }
    }
  }

  .footer__under {
    margin-top: 75px;
    padding: 1rem 0;

    .footer__under1 h5 {
      font-weight: 300;
      font-size: 1rem;
      color: #fff;
    }

    .footer__under2 img {
      width: 25px;
      opacity: 1;
    }

    .footer__under2 img:hover {
      opacity: 0.6;
      transition: 0.3s opacity ease-in-out;
    }

    .footer__under3 ul {
      list-style-type: none;
    }
  }
}

@media (max-width: 468px) {
  footer {
    margin-top: 0;
    font-size: 0.9rem;

    .footer__part,
    .footer__under {
      display: flex;
      flex-direction: column;
    }

    .footer__part > * {
      margin-top: 1rem;
    }

    .footer__under {
      margin-top: 0;
      justify-content: center;
      align-items: center;
    }

    h5 {
      font-size: 0.9rem;
    }
    & > * {
      margin-top: 1rem;
    }
  }
}
