* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #030303;
  font-family: 'Poppins', sans-serif;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow: visible;
  overflow-y: scroll;
  color: #fff;
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.hidden {
  overflow: hidden;
}

button {
  border: none;
  background: none;
}

a {
  color: #fff;
  text-decoration: none;
}
