.production {
  margin-top: 5rem;
  min-height: 450px;
  padding: 1rem 10rem;

  @media (max-width: 468px) {
    padding: 1rem 2rem;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem 3rem;

    @media (max-width: 468px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 1rem 3rem;
    }

    .production__card {
      position: relative;
      border-radius: 10px;
      overflow: hidden;

      @media (max-width: 468px) {
        margin-top: 1.5rem;
      }

      .img-wrapper:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: linear-gradient(to top, rgb(0, 0, 0), transparent);
      }

      .img-cover {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    .production__meta-wrapper {
      h5 {
        // text-transform: uppercase;
        font-size: 1.75rem;
        font-weight: 600;
        margin-bottom: 1rem;
      }

      p {
        font-size: 1rem;
        font-weight: 300;
        margin-bottom: 1rem;
      }

      .production__button {
        padding: 0.5rem 1rem;
        min-height: 44px;
        min-width: 44px;
        background-color: #ffb800;
        border-radius: 8px;
      }

      @media (max-width: 468px) {
        h5 {
          font-size: 1.25rem;
        }

        p {
          font-size: 0.8rem;
          line-height: 1.2rem;
        }

        .production__button {
        }
      }
    }
  }
}
